.button{
    width: 99px;
    height: 60px;
    background-color: #009879;
    border-radius: 6px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 1rem 1rem;
}

.button:hover{
    background-color: #fff;
    color:#009879;
}

.update{
    background-color: #d9a72b;
}
.delete{
    background-color: #9a1706;
}
